<div>
    <mat-form-field>
        <mat-label>Select Person</mat-label>
          <mat-select [(ngModel)]="currentPerson" (ngModelChange)="onPersonChanged()">
              <mat-option>HI</mat-option>
              <mat-option *ngFor="let person of (persons$ | async)" [value]="person.id">{{person.name}}</mat-option>
          </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select Album</mat-label>
        <mat-select [(ngModel)]="currentAlbum" (ngModelChange)="onAlbumChanged()">
            <mat-option *ngFor="let album of (albums$ | async)" [value]="album.id">{{album.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
